/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

@font-face {
  font-family: "interregular";
  src:
    url("fonts/Inter-Regular.woff") format("woff2"),
    url("fonts/Inter-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
    font-size: 2.5vh;
    font-family: "interregular", sans-serif;
    color: #443627;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFDCAB;
}

header {
    margin-top: 4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-text {
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.hero-text span{
  color: #EFDCAB;
  text-shadow:
    /* Outline 2 */
    -2px -2px 0 #443627,
    2px -2px 0 #443627,
    -2px 2px 0 #443627,
    2px 2px 0 #443627,  
    -3px 0 0 #443627,
    3px 0 0 #443627,
    0 3px 0 #443627,
    0 -3px 0 #443627;
}


.main-burger{
  margin-top: 2em;
  width: 35em;
}

.main-burger img {
  object-fit: contain;
}

nav {
    display: flex;
    margin-top: -0.5em;
    gap: 0.5em;
}

nav button {
    appearance: none;
    color: #443627;
    border: none;
    background-color: #00000000;
    font-size: 1.3rem;
}

.highlight {
  border: solid #443627 0.08em;
  padding: 0em 0.4em;
  font-size: x-large;
}